@font-face {
  font-family: "ProximaNova-Black";
  src: local("ProximaNova-Black"),
    url("https://nomail.com.ua/files/eot/f401366193520cdf512c7ade98260e27.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/f401366193520cdf512c7ade98260e27.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/f401366193520cdf512c7ade98260e27.woff2")
      format("woff2");
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #070506 url("/img/main-bg.png") top right -100% no-repeat;
  background-size: contain;
  background-attachment: fixed;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 1060px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 90px;
}

.header__logo {
  margin-right: 70px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
}

.hero__subtitle {
  display: block;
  margin-top: 78px;
  font-size: 40px;
  line-height: 100%;
  font-family: "ProximaNova-Black", sans-serif;
}

.hero__title {
  margin-top: 5px;
  font-size: 64px;
  line-height: 78px;
  font-family: "ProximaNova-Black", sans-serif;
  margin-bottom: 25px;
}

.hero__desription {
  max-width: 572px;
  font-size: 18px;
  line-height: 150%;
  color: #afafaf;
}

.hero__premier {
  display: block;
  font-size: 18px;
  line-height: 150%;
  color: #b02000;
  margin-bottom: 5px;
}

.hero__date {
  display: block;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 46px;
}

.button-play:before {
  content: "";
  position: absolute;
  width: 81px;
  height: 81px;
  background-color: rgba(255, 255, 255, 0.3);
  right: -8px;
  top: -8px;
  border-radius: 50%;
}

.button-play {
  position: relative;
  border: none;
  background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
  border-radius: 300px;
  color: #fff;
  padding: 25px 34px;
  padding-right: 80px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}

.button-play:after {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background: #fff url("/img/play.svg") center no-repeat;
  right: 0;
  top: 0;
  border-radius: 50%;
}

.episodes {
  padding: 60px 0;
}

.episodes__title {
  font-style: 18px;
  line-height: 150%;
  margin-bottom: 24px;
}

.slider {
  display: flex;
  flex-wrap: wrap;
}

.slider__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(80, 80, 80, 0.86),
    rgba(80, 80, 80, 0.86)
  );
}

.slider__item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  min-height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 30px;
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.slider__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.slider__item:hover:before {
  background: linear-gradient(
    0deg,
    rgba(64, 101, 255, 0.86),
    rgba(64, 101, 255, 0.86)
  );
}

.slider__rating-label {
  margin: 12px;
  margin-left: 12px;
}

.star {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("/img/star-w.svg") no-repeat center;
}

.star-o {
  background: url("/img/star-b.svg") no-repeat center;
}

.slider__nav--left {
  width: 32px;
  height: 32px;
  border: none;
  margin-right: 15px;
  background: transparent url("/img/arrow-left.svg") no-repeat center;
  cursor: pointer;
}

.slider__nav--right {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent url("/img/arrow-right.svg") no-repeat center;
  cursor: pointer;
}

.slider__nav--left span,
.slider__nav--right span {
  display: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@media (max-width: 600px) {
  .hero__subtitle {
    font-size: 26px;
  }

  .hero__title {
    font-size: 36px;
    line-height: 120%;
  }

  .hero__desription {
    font-size: 16px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__logo {
    margin-bottom: 30px;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav__link {
    margin-bottom: 10px;
  }
}
